
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//">



<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <link rel="stylesheet" type="text/css" href="C:\Users\Galaxy\Desktop\selfworkspace\GenHtml\gcov.css">

</head>


<body>
  <table width="100%" border=0 cellspacing=0 cellpadding=0>
    <tr><td class="title">覆盖率分析报告</td></tr>
    <tr><td class="ruler"><hr style="height: 1.5px" /></td></tr>
    <tr>
      <td width="100%">
        <table cellpadding=1 border=0 width="100%">
          
          <tr>
            <td width="10%" class="headerItem">当前视图:</td>
            <td width="35%" class="headerValue"><a href="../index.html">上一级</a> - test</td>
            <td></td>
            <td width="10%" align="center" class="headerItem">
            <a href="INDEX.html#instruction">指令覆盖率统计结果</a></td>
          </tr>
          
          <tr>
            <td class="headerItem">项目名:</td>
            <td class="headerValue">test_test.info</td>
            <td></td>
            <td width="10%" align="center" class="headerItem">
            <a href="INDEX.html#function">函数覆盖率统计结果</a></td>
          </tr>
          
          <tr>
            <td class="headerItem">测试日期:</td>
            <td class="headerValue">2018-06-06 10:13:17</td>
            <td></td>
            <td width="10%" align="center" class="headerItem">
            <a href="SRC.html">目标码测试覆盖率详细信息</a></td>
          </tr>
          
        </table>
      </td>
    </tr> 
      <tr><td width="100%" class="ruler"><hr style="height: 1.5px" /></td></tr>
  </table>
  
  <!-- 指令覆盖率统计结果 -->
  <center>
  <table width="80%" cellpadding=1 cellspacing=1 border=0>
 
    <tr><td class="title"><a name="instruction">指令覆盖率统计结果</a></td></tr>
    <tr>
      <td width="50%"><br></td>
      <td width="10%"></td>
      <td width="10%"></td>
      <td width="10%"></td>
      <td width="10%"></td>
      <td width="10%"></td>
    </tr>
     
     <tr>
      <td class="tableHead">指令类型 <span class="tableHeadSort"></span></td>
      <td class="tableHead" >指令总数 <span class="tableHeadSort"></span></td>
      <td class="tableHead" >已执行数 <span class="tableHeadSort"></span></td>
      <td class="tableHead" >覆盖率 <span class="tableHeadSort"></span></td>
    </tr>
    
     <tr>
     <td class="coverFile">指令 <span class="tableHeadSort"></span></td>
       
      <td class="coverNumHi">80</td>
      <td class="coverNumHi">100</td>
      <td class="coverPerHi">80.0&nbsp;%</td>
     
      </tr>
      
      
      <tr>
      <td class="coverFile">分支<span class="tableHeadSort"></span></td>
      
      </td>
      <td class="coverNumMed">70</td>
      <td class="coverNumMed">100</td>
      <td class="coverPerMed">70.0&nbsp;%</td>
      </tr>
      
   
  </table>
  <hr width="100%" style="height: 1.5px" />
  </center>
  

<!-- 函数覆盖率统计结果 -->
  <center>
  <table width="80%" cellpadding=1 cellspacing=1 border=0>
 
    <tr><td class="title"><a name="function">函数覆盖率统计结果</a></td></tr>
    <tr>
      <td width="50%"><br></td>
      <td width="10%"></td>
      <td width="10%"></td>
      <td width="10%"></td>
      <td width="10%"></td>
      <td width="10%"></td>
    </tr>
     
     <tr>
      <td class="tableHead">指令类型 <span class="tableHeadSort"></span></td>
      <td class="tableHead" >指令总数 <span class="tableHeadSort"></span></td>
      <td class="tableHead" >已执行数 <span class="tableHeadSort"></span></td>
      <td class="tableHead" >覆盖率 <span class="tableHeadSort"></span></td>
    </tr>
    
     <tr>
     <td class="coverFile">指令 <span class="tableHeadSort"></span></td>
      
      <td class="coverNumLo">50</td>
      <td class="coverNumLo">100</td>
      <td class="coverPerLo">50.0&nbsp;%</td>
      </tr>
      
      
      <tr>
      <td class="coverFile">分支<span class="tableHeadSort"></span></td>
     
      <td class="coverNumHi">10</td>
      <td class="coverNumHi">10</td>
      <td class="coverPerHi">100.0&nbsp;%</td>
      </tr>
      
   
  </table>
  <hr width="100%" style="height: 1.5px" />
  </center>


<!--项目列表-->
  
  <center>
  <table width="80%" cellpadding=1 cellspacing=1 border=0>
  
  <tr><td class="title">源代码覆盖率分析报告</td></tr>
    <tr>
      <td width="50%"><br></td>
      <td width="10%"></td>
      <td width="10%"></td>
      <td width="10%"></td>
      <td width="10%"></td>
      <td width="10%"></td>
    </tr>
     
     <tr>
      <td class="tableHead">项目名称 <span class="tableHeadSort"></span></td>
      <td class="tableHead" colspan=2>指令覆盖率 <span class="tableHeadSort"><a href="index-sort-l.html"></a></span></td>
      <td class="tableHead" colspan=2>分支覆盖率 <span class="tableHeadSort"><a href="index-sort-f.html"></a></span></td>
    </tr>
    
     <tr>
      <td class="coverFile"><a href="hello.c.gcov.html">hello.c</a></td>
     
      <td class="coverPerMed">80.0&nbsp;%</td>
      <td class="coverNumMed">4 / 5</td>
      <td class="coverPerHi">100.0&nbsp;%</td>
      <td class="coverNumHi">1 / 1</td>
      </tr>
      
      <tr>
      <td class="coverFile"><a href="hello.c.gcov.html">hello.c</a></td>
     
      <td class="coverPerMed">80.0&nbsp;%</td>
      <td class="coverNumMed">4 / 5</td>
      <td class="coverPerHi">100.0&nbsp;%</td>
      <td class="coverNumHi">1 / 1</td>
      </tr>
      <tr>
      <td class="coverFile"><a href="hello.c.gcov.html">hello.c</a></td>
     
      <td class="coverPerMed">80.0&nbsp;%</td>
      <td class="coverNumMed">4 / 5</td>
      <td class="coverPerHi">100.0&nbsp;%</td>
      <td class="coverNumHi">1 / 1</td>
      </tr>
      <tr>
      <td class="coverFile"><a href="hello.c.gcov.html">hello.c</a></td>
     
      <td class="coverPerMed">80.0&nbsp;%</td>
      <td class="coverNumMed">4 / 5</td>
      <td class="coverPerHi">100.0&nbsp;%</td>
      <td class="coverNumHi">1 / 1</td>
      </tr>
      <tr>
      <td class="coverFile"><a href="hello.c.gcov.html">hello.c</a></td>
     
      <td class="coverPerMed">80.0&nbsp;%</td>
      <td class="coverNumMed">4 / 5</td>
      <td class="coverPerHi">100.0&nbsp;%</td>
      <td class="coverNumHi">1 / 1</td>
      </tr>
      
      <tr>
      <td class="coverFile"><a href="hello.c.gcov.html">hello.c</a></td>
     
      <td class="coverPerMed">80.0&nbsp;%</td>
      <td class="coverNumMed">4 / 5</td>
      <td class="coverPerHi">100.0&nbsp;%</td>
      <td class="coverNumHi">1 / 1</td>
      </tr>
      <tr>
      <td class="coverFile"><a href="hello.c.gcov.html">hello.c</a></td>
     
      <td class="coverPerMed">80.0&nbsp;%</td>
      <td class="coverNumMed">4 / 5</td>
      <td class="coverPerHi">100.0&nbsp;%</td>
      <td class="coverNumHi">1 / 1</td>
      </tr>
      <tr>
      <td class="coverFile"><a href="hello.c.gcov.html">hello.c</a></td>
     
      <td class="coverPerMed">80.0&nbsp;%</td>
      <td class="coverNumMed">4 / 5</td>
      <td class="coverPerHi">100.0&nbsp;%</td>
      <td class="coverNumHi">1 / 1</td>
      </tr>
      <tr>
      <td class="coverFile"><a href="hello.c.gcov.html">hello.c</a></td>
     
      <td class="coverPerMed">80.0&nbsp;%</td>
      <td class="coverNumMed">4 / 5</td>
      <td class="coverPerHi">100.0&nbsp;%</td>
      <td class="coverNumHi">1 / 1</td>
      </tr>
      <tr>
      <td class="coverFile"><a href="hello.c.gcov.html">hello.c</a></td>
     
      <td class="coverPerMed">80.0&nbsp;%</td>
      <td class="coverNumMed">4 / 5</td>
      <td class="coverPerHi">100.0&nbsp;%</td>
      <td class="coverNumHi">1 / 1</td>
      </tr>
      <tr>
      <td class="coverFile"><a href="hello.c.gcov.html">hello.c</a></td>
     
      <td class="coverPerMed">80.0&nbsp;%</td>
      <td class="coverNumMed">4 / 5</td>
      <td class="coverPerHi">100.0&nbsp;%</td>
      <td class="coverNumHi">1 / 1</td>
      </tr>
   
  </table>
  <hr width="100%" style="height: 1.5px" />
  </center>
  
  
  <table width="100%" border=0 cellspacing=0 cellpadding=0>
    <tr><td class="ruler"><img src="../glass.png" width=3 height=3 alt=""></td></tr>
    <tr><td class="versionInfo">Generated by: <a href="http://ltp.sourceforge.net/coverage/lcov.php">Galaxy</a></td></tr>
  </table>
  <br>

</body>
</html>


</html> 
